version: '3.9'

services:
  clickhouse:
    image: clickhouse/clickhouse-server:24.3.6
    container_name: sports_data_clickhouse_prod
    restart: always
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    volumes:
      - ch_data:/var/lib/clickhouse
      - ch_logs:/var/log/clickhouse-server
    ports:
      - "9000:9000"
      - "8123:8123"
    cap_add:
      - SYS_NICE
      - NET_ADMIN
      - IPC_LOCK
      - SYS_PTRACE

  data_collector_service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: data_collector_service
    depends_on:
      - clickhouse
      - kafka
    env_file:
      - .env
    restart: always
    ports:
      - "8090:8090"

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: sports_data_zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    volumes:
      - zk_data:/var/lib/zookeeper/data
      - zk_logs:/var/lib/zookeeper/log

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: sports_data_kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092

      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    volumes:
      - kafka_data:/var/lib/kafka/data




volumes:
  ch_data:
  ch_logs:
  zk_data:
  zk_logs:
  kafka_data: