version: '3.9'

services:
  postgres:
    image: postgres:15
    container_name: auth_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: auth_db
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  auth_service:
    build: .
    container_name: auth_service
    depends_on:
      - postgres
    ports:
      - "8081:8081"
    env_file:
      - .env
    environment:
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/auth_db?sslmode=disable
    command: ["./auth-service"]

volumes:
  pgdata: